[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pandas = "*"
psycopg2-binary = "*"
django-environ = "*"
django-cors-headers = "*"
gunicorn = "*"
dj_static = "*"
uc-sgsim = "*"
django-filter = "*"
coverage = "*"
pytest-django = "*"
pytest-cov = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
