{% extends "base.html" %}

{% block title %}Testing{% endblock %}

{% block main %}

<title>Home</title>

<div class="jumbotron" style="width: 110rem; height: 13rem">
  <h3>Welcome</h3>
  <p>This is a website to display the application and algorithm done by Zncl2222.</p>
  <span style="font-weight:bold;">Author: Zncl2222</span>
  <br>
  <br><br>
</div>

<div class="row">
  <div class="col" >
    <h4 style="text-align: center;">About this website</h4>
    <p>This is a website for displaying Zncl2222's works. </p>
  </div>
  <div class="col">
      <h4 style="text-align: center;">Engine</h4>
    <p>This backend engine of this website is flask, and the front end engines are HTML5, CSS (Bootstrap)</p>
    
  </div>
  
  <div class="col ">
     <h4 style="text-align: center;">Source code</h4>
    <p>Source code is</p>
    <a href="#">here</a>
    
  </div>
  </div>
</div>

<div class="row">

    <div class="col">

      <a target="_blank" href="https://icons8.com/icon/TtXEs5SeYLG8/flask">
        <img src="https://img.icons8.com/fluency/240/undefined/flask.png"/></a>
      
    </div>

    <div class="col" >
      
      <a href="https://icons8.com/icon/23028/html-5">
        <img src="https://img.icons8.com/ios-filled/250/undefined/html-5--v1.png"/></a>

    </div>
  
    <div class="col ">
      <a target="_blank" href="https://icons8.com/icon/84710/bootstrap">
        <img src="https://img.icons8.com/color/240/undefined/bootstrap.png"/></a>
      
    </div>
  
</div>

<div class="row">
  <div class="col">
    
  </div>

  <div class="col" >
    <a href="/works"><button type="button" class="btn btn-primary" style="width:10rem; margin-top:10rem">Get Started</button></a>
  </div>

  <div class="col ">
  </div>
</div>

{% endblock %}