{% extends "base.html" %}

{% block title %}Unconditional Sequential Simulation{% endblock %}

{% block main %}
<title>UC_SGSIM</title>
<div class="jumbotron" style="width: 5000px; height: 200px">
    <h3>UnConditional Sequential Gaussian SIMulation (UC_SGSIM)</h3>
    <p>UC_SGSIM is a randomfield generation tools based on geostatistic algorithm.</p>
    <span style="font-weight:bold;">Author: Zncl2222</span>
    <br>
    <!--<span style="font-weight:bold;">Model source code </span>-->
    <p style="display:inline">Model source code</p>
    <div class="social-icons">
        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
    </div>
    <div class="social-icons">
        <p style="display:inline">Programming language</p>
        <a href="https://icons8.com/icon/13441/python" style="display:inline">
            <img src="https://img.icons8.com/color/48/undefined/python--v1.png"style="height: 25px; width: 25px;;"/></a>
        <a href="https://icons8.com/icon/40670/c-programming" style="display:inline">
        <img src="https://img.icons8.com/color/48/undefined/c-programming.png"style="height: 25px; width: 25px;;"/></a>
    </div>

    <div class="icon-source">
        <p style="display:inline; padding-left:5rem;">Icon sources</p>
        <a href="https://fontawesome.com/" style="display:inline">
            <i class="fa-solid fa-font-awesome"></i></a>
        <a href="https://icons8.com/" style="display:inline">
            <img src="https://img.icons8.com/plumpy/24/undefined/icons8-logo.png"/></a>
    </div>

    <br><br>
</div>

<div class ='container'>
    <h4> Parameters </h4>
    <hr style="width:3000px"></hr>
        <form class="Input" action="/result" method="POST">
            <div class="col-20 ">
                <label for="Name">Enter model len:</label><br>
                <input type="number" name="model_len" id ="model_len" value = "150">
            </div>
           <div class="col-20">
                <label for="Name">Enter number of realizations:</label><br>
                <input type="number" name="nR" id ="nR" value = "10">
           </div>
           <div class="col-20">
                <label for="Name">Enter band width for lag distance:</label><br>
                <input type="number" name="bw" id ="bw" value = "1">
            </div>
            <div class="col-20">
                <label for="Name">Enter lag distance:</label><br>
                <input type="number" name="hs" id ="hs" value = "35">
            </div>
            <div class="col-20">
                <label for="Name">Enter range:</label><br>
                <input type="number" name="range" id ="range" step="0.01" value = "17.32">
            </div>
            <div class="col-20">
                <label for="Name">Enter sill:</label><br>
                <input type="number" name="sill" id ="sill" value = "1">
            </div>
            <div class="col-20">
                <label for="Name">Enter random seed:</label><br>
                <input type="number" name="randomseed" id ="randomseed" value = "123151">
             </div>
            <div class="col-20">
                <label for="Name">Select model:</label><br>
                <select name="model" id ="model">
                    <option>Gaussian</option>
                    <option>Spherical</option>
                </select>
            </div>
            <div class="col-20">
                <label for="Name">Select kernel:</label><br>
                <select name="kernel" id ="kernel">
                    <option>Python</option>
                    <option>C</option>
                </select>
            </div><br><br>

            <div class="col-40" >
                <input type="Submit" class = "file_submit" value = "Plot">
            </div>
        </form>
    </div>
    <div class="container">
        {% if t %}
        <p style="background-color:rgb(71, 255, 95); font-size:160%; width:3000px"> Time : {{t}} s</p>
        {% endif %}
        <hr style="width:3000px">
            {% if img_rfg and img_vario %}
            <div class="img1" style="padding-left:3rem">
                <img src='data:image/png;base64,{{img_rfg}}'   
                style = "border:2px black solid; position:relative; top:10px; left:10px;" />
            </div>
            
            <div align = 'left'>
                <img src='data:image/png;base64,{{img_vario}}'
                style ="border:2px black solid; position:relative; top:10px; left:500px;"/>
            </div>

            {% endif %}
    </div>  
{% endblock %}