{% extends "base.html" %}

{% block title %}Testing{% endblock %}

{% block main %}
<title>Works</title>

<body>
    <style>
        .row{
            text-align: left;
            padding-top: 5rem;
        }
        p{
            display: inline-block;
        }
    </style>

</body>

<div class="jumbotron" style="width: 5000px; height: 200px">
    <h3>Works</h3>
    <p style="display: block;">Algorithm, Datasturcture or Applicaiton implementation</p>
    <span style="font-weight:bold;">Author: Zncl2222</span>
    <br>
    <br><br>
</div>

<div class="row">
    <div class="col" >
      <h4> 1. Sequential Gaussian Simulation</h4>
      <p>An geostatistic package made by Python and C </p>
      <a href="/sgsim"><button type="button" class="btn btn-primary" style="width:10rem; margin-left:50px">Go</button></a>
    </div> 
</div>

<div class="row">
    <div class="col" ></div>
</div>

<div class="row">
    <div class="col" >
      <h4>2. RandomWalk</h4>
      <p>Comming soon. </p>
      
    </div>
</div>

<div class="row">
    <div class="col" ></div>
</div>

<div class="row">
    <div class="col" >
      <h4>3. Line Bot (Cool bot)</h4>
      <p>Comming soon. </p>
      
    </div>
</div>

<div class="row">
    <div class="col" ></div>
</div>

<div class="row">
    <div class="col" ></div>
</div>

<div class="row">
    <div class="col" ></div>
</div>

{% endblock %}